<%- include('partials/header') %>

<main>
    <h1>Welcome to the CSE 340 Service Network!</h1>
    <p>Our mission is to promote service across the world...</p>
    <img class="main-logo" src="/images/cse340-service-network.png" alt="Logo">
</main>

<% if (isLoggedIn) { %>
    <a href="/dashboard">My Dashboard</a>
<% } %>

<%- include('partials/footer') %>