<%- include('partials/header') %>

<main>
    <h1>Our Organizations</h1>
    <img src="/images/brightfuture-logo.png" alt="Bright Future">
    <img src="/images/grenharvest-logo.png" alt="Green Harvest">
    <img src="/images/unityserve-logo.png" alt="Unity Serve">
</main>

<%- include('partials/footer') %>